.container {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  background-color: hsl(255, 50%, 95%);
  width: 100%;
}

.item {
  font-size: 1.4rem;
  color: hsl(255, 50%, 25%);
  margin: 0.2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  transition: 64ms;
  cursor: pointer;
  transition: 128ms;
  &:hover {
    background-color: hsl(280, 50%, 50%);
    color: hsl(280, 50%, 95%);
  }
}

.itemActive {
  background-color: hsl(255, 50%, 50%);
  color: hsl(255, 50%, 95%);
  font-weight: bold;
}
